<!-- src/views/pages/SignUp.hbs -->
<div>
    <h1>Sign Up</h1>
    <form action="/signup/signupToApp" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>
