<!DOCTYPE html>
<html>

<head>
    <title>Document</title>
</head>

<body>
    <div>
        <header>
            {{> header }}
        </header>
        <div>
            {{{ body }}}
        </div>
        <footer>
            {{> footer }}
        </footer>
    </div>
</body>

</html>